.elements__element {
  position: relative;
    width: 282px;
    margin-right: 17px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;

}

.elements__element:nth-child(3n+3) {
  margin-right: 0;
}

.elements__element:nth-last-child(-n+3) {
  margin-bottom: 0;
}
